<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title><%=title %></title>
    <link type="text/css" href="./style.css" rel="stylesheet">
</head>
<body>
    <h1><%=title %></h1>

    <div role="main">
        <p><%=content %></p>

        <p><table style="width:85%;">
                <%for(var key in data) { %>
                    <%-include('data_item', {key:key, val:data[key]}) %>
                <% } %>
            </table></p>

        <!--フォームの作成-->
        <form action="/" method="post">
            <p><input type="text" name="message" size="100px" height="50px">
                <input type="submit" value="submit" size="100px"></p>
        </form>
        <p><a href="<%=link.href %>"><%=link.text %></a></p>
    </div>
    
</body>
</html>